//- extends layout


//- block content
//-   block content
//-     h1 #{title}
//-     table(border=1)
//-       th รหัส
//-       th ชื่อหนังสือ
//-       th ราคา
//-       for item in data
//-         tr
//-           td #{item.isbn}
//-           td #{item.title}
//-           td #{item.price}
extends layout


block content
  
  h1 #{title}
  button(class="btn btn-outline-primary my-2 float-right" id="addBook") เพิ่มข้อมูล
  table(id="bookTable" class="display" border=1)
    thead
      tr
        th รหัส
        th ชื่อหนังสือ
        th ราคา
        th
    <tbody>
    for item in data
      tr
        td #{item.isbn}
        td #{item.title}
        td #{item.price}
        td
          a(href='/books/'+item._id) รายละเอียด
    </tbody>
