extends layout


block content
  if bookData 
    #detailModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title รายละเอียด
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              div(class="row justify-content-center formAdd")
                div(class="text-align-center user col-sm-10")
                  form(method='post' action='javascript:void(0)')
                    div(class="card col-sm-auto" style="width: 30rem;")
                      img(class="card-img-top" src="/images/upload"+bookData.name  alt="หนังสือ")
                      if bookData.online
                        div(class="form-group" style="padding-top:20px")
                          a(href="" id="bookOnlineDetail"+bookData._id) หนังสือออนไลน์
                    div(class="form-group" style="padding-top:20px")
                      label(for='isbn') ISBN :
                      input(class="form-control" type='text',name='isbn' id="isbnDetail",size='30',placeholder='รหัส ISBN' value=""+bookData.isbn required disabled)
                    div(class="form-group")
                      label(for='title') ชื่อหนังสือ :
                      input(class="form-control" type='text',name='title' id="titleDetail" size='50',placeholder='ชื่อหนังสือ' required value=""+bookData.title disabled)
                      if bookData.online
                        div(class="form-group text-center")
                          span(id="countBook"+bookData._id style="color:green; ") หนังสือออนไลน์
                      else  
                        div(class="form-group text-center")
                          if bookData.amount == 0
                          
                          else
                            span(id="countBook"+bookData._id style="color:green; ") หนังสือเหลือ   
                              span(id="count"+bookData._id ) #{bookData.amount} 
                              span  เล่ม
                    div(class="form-group")
                      div(class="row")
                        div(class="col-md")
                          label(for='price') ราคา :
                          input(class="form-control" type="number",name='price' id="priceDetail" size='30',placeholder='ราคา' required value=""+bookData.price disabled)
                        div(class="col-md")
                          label(for="amount") จำนวน :
                          if bookData.online
                            input(class="form-control" type="number" name="amount" class="amount" id="amountDetail"+bookData._id size="30" placeholder="จำนวน" min="0" step="1" value="1" max=""+bookData.amount amount=""+bookData.amount disabled)
                          else  
                            input(class="form-control" type="number" name="amount" class="amount" id="amountDetail"+bookData._id size="30" placeholder="จำนวน" min="0" step="1" value="1" max=""+bookData.amount amount=""+bookData.amount)
                    div(class="form-group")
                      p(id="hideShow") รายละเอียดหนังสือ...
                      textarea(name="description", cols="30", rows="5" class='form-control'  id="descriptionDetail" style="display:none" disabled) #{bookData.description}
                    div(class="form-group text-center")
                      if bookData.amount == 0
                        button(class="btn btn-outline-success btn-block"  disabled) <i class="fa fa-cart-plus"></i>หยิบหนังสือใส่ตะกร้า
                        span(style="color:red; text-align:center; padding-top:20px" id="sorry"+bookData._id) !!! ขออภัยขณะนี้สินค้าหมด !!!
                      else
                        button(class="btn btn-outline-success btn-block" id="btnSelect"+bookData._id id1=''+bookData._id onclick="select(this)") <i class="fa fa-cart-plus"></i>หยิบหนังสือใส่ตะกร้า
                        span(style="color:red; display:none; text-align:center; padding-top:20px" id="sorry"+bookData._id) !!! ขออภัยขณะนี้สินค้าหมด !!!
            div(class="modal-footer text-center")                
                      div(class="col-md-4")
                        button(class='btn btn-outline-dark float-left btn-block' data-dismiss='modal' ) ย้อนกลับ
                      div(class="col-md-4")
                        button(class='btn btn-outline-warning btn-block' style="display:none" name="edit" data='update' id="edit"  id1=''+bookData._id onclick="post(this)") แก้ไข
                      div(class="col-md-4")
                        button(class='btn btn-outline-danger float-right btn-block' style="display:none" name="delete" id="delete" data='delete' id1=''+bookData._id onclick="post(this)") ลบ
    button(class="btn btn-outline-primary my-2 float-right" style="display:none"  id="addBook" ) เพิ่มข้อมูล
    table(id="bookTable" class="display" border=1)
      thead
        tr
          th รหัส
          th ชื่อหนังสือ
          th ราคา
          th(style="width:100px !important;")
      <tbody>
      for item in data
        tr
          td #{item.isbn }
          td #{item.title}
          td #{item.price}
          td(class="text-center") 
            a(href='/books/'+item._id class="a-detail")
              button(class="btn btn-outline-primary") รายละเอียด
      </tbody>
      #addModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title เพิ่มข้อมูล
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              div(class="row justify-content-center formAdd")
                div(class="text-align-center col-sm-10")
                  h1 #{title}
                  <form action='/books/add' method='post' encType="multipart/form-data">
                    div(class="form-group form-check")
                      input(type="checkbox" name="onlineCheck" class="form-check-input" id="onlineCheck")
                      label(class="form-check-label" for="onlinkCheck") หนังสือออนไลน์
                    div(class="form-group" id="formFileBook"  style="display:none")
                      label(for="fileBook") หนังสือ
                      input(type="file" name="fileBook" id="fileBook" accept="application/pdf")
                    div(class="form-group")
                      label(for='isbn') ISBN :
                      input(class="form-control" type='text',name='isbn',size='30',placeholder='รหัส ISBN' required)
                    div(class="form-group")
                      label(for='title') ชื่อหนังสือ :
                      input(class="form-control" type='text',name='title',size='50',placeholder='ชื่อหนังสือ' required)
                    div(class="form-group") 
                      div(class="row")
                        div(class="col-md")
                          label(for='price') ราคา :
                          input(class="form-control" type="number",name='price',size='30',placeholder='ราคา' required)
                        div(class="col-md")
                          label(for='amount') จำนวน :
                          input(class="form-control" type="number" name='amount' id="amount" size="30" placeholder='จำนวน' value='1' required)
                    div(class="form-group")
                      label(for='description') รายละเอียดหนังสือ
                      textarea(name="description", cols="30", rows="5" class='form-control')
                    div(class="form-group text-center")
                      label(for="photo" class="custom-file-upload" name="photo1" style="background-color:#F0FFFF; border-radius: 20px;")
                        i(class="fa fa-book")
                        span(class="text-upload") รูปภาพ
                        input(type='file' name="photo" id="photo" required accept="image/*" style="width:30rem; display:none;" onchange="readURL(this);")
                        img(id="blah" src="" alt="your image" style="width:20rem; display:none")
            div(class="modal-footer text-center")
                  div(class="col-md-4")
                    butoon(class='btn btn-outline-dark float-left btn-block' id="backBook" data-dismiss='modal') ย้อนกลับ
                  div(class="col-md-4")
                  div(class="col-md-4")  
                    button(class='btn btn-outline-success float-right btn-block' type="submit") บันทึก
                  </form>             

  else
    button(class="btn btn-outline-primary my-2 float-right" style="display:none" id="addBook" ) เพิ่มข้อมูล
    table(id="bookTable" class="display" border=1)
      thead
        tr
          th รหัส
          th ชื่อหนังสือ
          th ราคา
          th(style="width:100px !important;")
      <tbody>
      for item in data
        tr
          td #{item.isbn }
          td #{item.title}
          td #{item.price}
          td(class="text-center" ) 
            a(href='/books/'+item._id class="a-detail")
              button(class="btn btn-outline-primary") รายละเอียด
      </tbody>
      #addModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title เพิ่มข้อมูล
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              div(class="row justify-content-center formAdd")
                div(class="text-align-center col-sm-10")
                  h1 #{title}
                  <form action='/books/add' method='post'  encType="multipart/form-data">
                    div(class="form-group form-check")
                      input(type="checkbox" class="form-check-input" id="onlineCheck" name="onlineCheck")
                      label(class="form-check-label" for="onlinkCheck") หนังสือออนไลน์
                    div(class="form-group" id="formFileBook"  style="display:none")
                      label(for="fileBook") หนังสือ
                      input(type="file" name="fileBook"  id="fileBook" accept="application/pdf")
                    div(class="form-group")
                      label(for='isbn') ISBN :
                      input(class="form-control" type='text',name='isbn',size='30',placeholder='รหัส ISBN' required)
                    div(class="form-group")
                      label(for='title') ชื่อหนังสือ :
                      input(class="form-control" type='text',name='title',size='50',placeholder='ชื่อหนังสือ' required)
                    div(class="form-group") 
                      div(class="row")
                        div(class="col-md")
                          label(for='price') ราคา :
                          input(class="form-control" type="number",name='price',size='30',placeholder='ราคา' required)
                        div(class="col-md")
                          label(for='amount') จำนวน :
                          input(class="form-control" type="number" name='amount' id="amount" size="30" placeholder='จำนวน' value='1' required)
                    div(class="form-group")
                      label(for='description') รายละเอียดหนังสือ
                      textarea(name="description", cols="30", rows="5" class='form-control')
                    div(class="form-group text-center")
                      label(for="photo" class="custom-file-upload" name="photo1" style="background-color:#F0FFFF; border-radius: 20px;")
                        i(class="fa fa-book")
                        span(class="text-upload") รูปภาพ
                        input(type='file' name="photo" id="photo" required accept="image/*" style="width:30rem; display:none;" onchange="readURL(this);")
                        img(id="blah" src="" alt="your image" style="width:20rem; display:none")
                          
            div(class="modal-footer text-center")
                  div(class="col-md-4")
                    butoon(class='btn btn-outline-dark float-left btn-block' id="backBook" data-dismiss='modal') ย้อนกลับ
                  div(class="col-md-4")
                  div(class="col-md-4")  
                    button(class='btn btn-outline-success float-right btn-block' type="submit") บันทึก
                  </form>      
      