extends layout

block content
  div(class="row justify-content-md-center")
    div(class="col-md-12")
      div(class="card text-center")
        div(class="card-header " style="background-color:#6c757d" ) 
          h5(class='text-light')  <i class="fa fa-file-text-o" style="font-size:25px"></i>ประวัติการซื้อหนังสือ
        div(class="card-body")
            input(type="hidden" class="tokenEmail" name="tokenEmail" value="5")
            table(id="showCart" align='center' )
              thead
                tr
                  th ตั้งแต่
                  th รหัสสินค้า
                  th ชื่อสินค้า
                  th ราคา
                  th จำนวน 
                  th รวมเป็นเงิน(บาท)
              <tbody>
              if data
                for item in data
                  tr
                    td #{item.dateThai}
                    td #{item.isbn} 
                    td #{item.title}
                    td #{item.price}
                    td #{item.selectAmount}
                    td #{item.price * item.selectAmount}
              else
                tr(id="rowTextStatus")
                  td(colspan="6" id="noProduct") ไม่มีสินค้ารอยืนยันในขณะนี้
                </tbody>
