extends layout

block content
  div(class="row justify-content-md-center")
    div(class="col-md-12")
      div(class="card text-center")
        div(class="card-header" style="background-color:#6c757d;") 
          h5(class='text-light')  <i class="fa fa-cart-arrow-down" style="font-size:25px"></i>สถานะของสินค้า
        div(class="card-body")
            table(id="showCart" align='center' style='width:70%;' )
              thead
                tr
                  th รหัสสินค้า
                  th ชื่อสินค้า
                  th ราคา
                  th จำนวน 
                  th รวมเป็นเงิน(บาท)
                  th สถานะของสินค้า
                  th
              <tbody>
              if data
                for item in data
                  form(action='/books/payment',method='post')
                    input(type="hidden" value=""+item._id name="name")
                    tr(id='payMentId'+item._id newId=""+item._id onmouseenter="seen(this)" onmouseleave="leave(this)")
                      td(id="payMentIsbn"+item._id class='td-payment') #{item.isbn}
                      td(id="payMentTitle"+item._id class='td-payment') #{item.title}
                      td(id="payMentPrice"+item._id class='td-payment') #{item.price}
                      td(id="payMentAmount"+item._id class='td-payment') #{item.selectAmount}
                      td(class="sumStatus" ) #{item.price * item.selectAmount}
                      td(class="text-warning") อยู่ระหว่างรอชำระเงิน
                      td(style=""  )
                        button(class="btn btn-outline-success"  style="" id="buttonPayment"+item._id) ชำระเงินเรียบร้อย
                tr(id="rowTotalStatus")
                  td(colspan="4") รวมเป็นเงินทั้งสิน
                  td(colspan="2" id="totalStatus" value=""+sum) #{sum}
              else
                tr(id="rowTextStatus")
                  td(colspan="6" id="noProduct") ไม่มีสินค้ารอยืนยันในขณะนี้
                </tbody>
               
              